package {{package}};

{{#imports}}import {{import}};
{{/imports}}

{{#rxInterface}}
import rx.Completable;
import rx.Single;
import io.vertx.rxjava.ext.auth.User;
{{/rxInterface}}
{{^rxInterface}}
import io.vertx.core.AsyncResult;
import io.vertx.core.Handler;
import io.vertx.ext.auth.User;
{{/rxInterface}}

import java.util.List;
import java.util.Map;
import io.vertx.ext.jdbc.JDBCClient;
import io.vertx.core.json.JsonObject;

public interface {{classname}}  {

{{#jdbcPersistence}}
    static {{classname}} create(JDBCClient dbClient, JsonObject config,  Handler<AsyncResult<{{classname}}>> readyHandler) {
        return new {{classname}}Impl(dbClient, config, readyHandler);
    }
{{/jdbcPersistence}}

{{#operations}}
{{#operation}}
    //{{#vendorExtensions}}{{x-serviceId}}{{/vendorExtensions}}
    {{#rxInterface}}
{{>RxMethod}}
    {{/rxInterface}}
    {{^rxInterface}}
{{>AsyncMethod}}
    {{/rxInterface}}
    
{{/operation}}
{{/operations}}

}
