package {{invokerPackage}};

import io.vertx.core.AbstractVerticle;
import io.vertx.core.Future;
import io.vertx.core.json.JsonObject;
import io.vertx.ext.jdbc.JDBCClient;

public class JDBCVerticle extends AbstractVerticle {

    protected JDBCClient dbClient;
    protected JsonObject dbConfig;

    private static final String HIKARI_POOL = "hikari";
    private static final String C3P0_POOL = "c3p0";

    public JDBCVerticle() {
    }

    public JDBCVerticle(JsonObject dbConfig) {
        this.dbConfig = dbConfig;
    }

    public JDBCVerticle(JDBCClient dbClient) {
        this.dbClient = dbClient;
    }

    @Override
    public void start(Future<Void> startFuture) throws Exception {

        if (dbClient != null)
            return;

        JsonObject defaultConfig = config().getJsonObject(C3P0_POOL);
        dbClient = JDBCClient.createShared(vertx, defaultConfig);

    }
}