package {{invokerPackage}};

import io.vertx.core.json.Json;
import io.vertx.core.json.JsonObject;

public class JsonHelper {

    public static String toJson(Object obj){
        return toJsonObject(obj).encodePrettily();
    }

    public static JsonObject toJsonObject(Object obj){
        return new JsonObject(Json.encode(obj));
    }

}