{
    "http.port" : 8080,

    "jdbc.url": "jdbc:mysql://localhost/vertx_blueprint?characterEncoding=UTF-8&useSSL=false",
    "jdbc.driver_class": "com.mysql.cj.jdbc.Driver",
    "jdbc.max_pool_size": 30
}